body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

#note {
    height: 70vh;
    width: 50vh;
    border: black 1px solid;
    margin-top: 5px;
    border-radius: 20px;
    overflow: auto;
    background-color: papayawhip;


}

h2 {
    word-break:break-all;
}

li {
    font-size: 2rem;
    width: 95%;
    height: 2.4rem auto;
    border-bottom: paleturquoise 1px solid;
    margin: 3px;
    font-family: 'Covered By Your Grace', cursive;
}



input[type=submit]  {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }

  .input-group-text {
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
}


  input[type=checkbox] {
      margin: 15px;
  }








  .button-63:active,
  .button-63:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-63 {
      font-size: 24px;
      min-width: 196px;
    }
  }