body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#note {
    height: 80vh;
    width: 80vh;
    border: black 1px solid;
    margin-top: 5px;
    border-radius: 5px;
    overflow: auto;
    background-color: papayawhip;

}

li {
    font-size: 2rem;
    width: 95%;
    height: 2.4rem;
    border-bottom: skyblue 1px solid;
    margin: 3px;
    font-family: 'Covered By Your Grace', cursive;
    word-break: break-all;
}

input[type=submit] {
    border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 1px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  }







